extends layout.pug

block content
    header
        h1 Image Search Abstraction Express Microservice
    main
        p Enter a search query into the form, or pass it under the "q" key in a query string after "search", and this application will provide JSON data from the search results.
        h2 Example usage:
        code https://fcc-imagesearch-jor.glitch.me/search?q=tiger
        form(action="/" id="query-form")
            input(type="text" id="query-input" required)
            input(type="submit" id="submit" value="Submit")
        a(href="/latest") Recent Queries
    footer
    script(
        src="js/client.js"
        type="text/javascript"
    )